* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 50px;

    padding: 20px;
    width: 100%;
    background-color: #dbe2e9;
}

form {
    display: grid;
    row-gap: 20px;
}

form label input:not(input[type="radio"]) {
    width: 100%;
}

table {
    width: fit-content;
}

table, thead, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}