@font-face {
    font-family: 'Brunson';
    src: url('fonts/Brunson.woff2') format('woff2'),
        url('fonts/Brunson.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 50px;

    padding: 20px;
    width: 100%;
    background-color: #dbe2e9;
}

form {
    display: grid;
    row-gap: 20px;
}

form label {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666a6d;
}

form label input:not(input[type="radio"]) {
    width: 100%;
}

table {
    width: fit-content;
}

table, thead, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}