* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;

    padding: 20px;
    background-color: #dbe2e9;
}

form {
    display: grid;
}

table, thead, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}